  .image{
  margin-top: 70px;
  height: 90vh;
  overflow: auto;
}
  .container-fluid{
    background-color:white;
		width:40%;
		height:500px;
		margin-left: 30%;
    border-radius:25px;
    border-style: solid;
    border-color:rgb(255, 0, 0);
  }
.alert{
  margin-top: 15px;
}
.nav{
  background-color:black;
}
.nav-item
{
  vertical-align: middle;
  padding-top: 20px;
  margin-bottom: -20px;
}

.btn {
  font-weight: bold;
  border-color: #E50914;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 40px 40px #E50914 inset, 0 0 0 0 #E50914;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  border-color: #3498db;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: rgb(255, 0, 0);
  border-radius: 15px;
}
