<body>
<h1 class=" text-center text-danger" style="font-size:60px;"><img src="assets/img/logochatflix.png"></h1>

<nav class="nav nav-pills nav-justified bg-danger navbar-dark ">
  <h1 class="text-white">{{username}}</h1>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button routerLink="/login" type="button">logout</button>

	<li class="nav-item ">
      <a class="nav-link text-white" style="font-size:25px; color: black;" href="/home">Home</a>
    </li>



    <li class="nav-item">
      <a class="nav-link text-white" style="font-size:25px; color: black;" href="/creagruppo">Crea Gruppo</a>
    </li>


	<li class="nav-item ">
      <a class="nav-link text-white" style="font-size:25px; color: black;" href="/grafico">I miei gruppi</a>
    </li>

	 <li class="nav-item active ">

  <input style="font-size:20px" type="text" placeholder="Ricerca" name="search">
  <button type="submit"><i class="fa fa-search" style="font-size:25px"></i></button>
    </li>

</nav>
<br>
<br><br><br>
<div class="container-fluid">

  <h1>creazione gruppo</h1>
  <label for="nameGroup">Nome gruppo:</label>
  <br>
  <input type="text" id="nameGroup" name="nameGroup" maxlength="25" #name><br><br>
  <label for="descrizione">Descrizione:</label>
  <br>
  <textarea id="w3review" name="w3review" rows="4" cols="50" style="resize:none" maxlength="300" placeholder="max 300 caratteri" #desc></textarea>
  <br><br>

 <label for="quantity">partecipanti (min 2 max 8):</label><br>
 <input type="number" id="quantity" name="quantity" min="2" max="8" #num>
 <br><br>
  <input type="submit" value="Submit" (click) = "onSubmit(name,desc,num)">

</div>

<br><br><br><br><br><br><br><br><br><br><br><br>

 <html>
