<!--<div class="container-fluid">
  <h1>Chat</h1>
  <br><br><br><br><br><br>
  <input  (keyup)="$event.keyCode == 13 && sendMessage(message)" #message/>
  <button (click)="sendMessage(message)">Send Message</button>

  <div *ngFor = "let message of messageList" div class="container-fluid">
    {{message}}
  </div>
</div>-->

<div class="chat_window">
    <div class="top_menu">
      <a class="btn" routerLink="/home"><b>back</b></a><a class="btn" (click)="leaveGroup()" routerLink="/home"><b>leaveGroup</b></a>
      <h1 class=" text-center text-danger" style="font-size:60px;"><img src="assets/img/logo.png"></h1>
      <h1 class="nomegruppo">{{groupName}}</h1>

    </div>
    <div class="messages" #scroll [scrollTop]='scroll.scrollHeight'>
      <div *ngFor = "let message of messageList" class="container-fluid">
        <h4>{{message}}</h4>
      </div>
    </div>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input (keyup)="$event.keyCode == 13 && sendMessage(message)" #message class="message_input" placeholder="Type your message here..." />
        </div>
        <div (click)="sendMessage(message)" class="send_message">
            <div class="icon"></div>
            <div class="text">Send</div>
        </div>
    </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>
