<H1>Log In</H1>
<div class="container-fluid">
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <label class="text-light" for="username">Username</label>
    <input type="username" class="form-control" id="username" placeholder="Inserisci un nome utente" type="text" formControlName="username" required>
<br>
    <label class="text-light" for="password">Password</label>
    <input #pwd type="password" class="form-control" id="password" placeholder="Inserisci la tua password" type="password" formControlName="password" required>
<br>
  <button type="submit" class="btn btn-primary">Log In</button>
<br>&nbsp;
</form>
</div>
