<a routerLink="register">registrazione</a>&nbsp;&nbsp;<a routerLink="login">Log In</a>&nbsp;&nbsp;<a routerLink="home">home</a>&nbsp;&nbsp;<a routerLink="chat">chat</a><br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<h1 class=" text-center text-danger" style="font-size:60px;"><img src="assets/img/logo.png"></h1>

<nav class="nav nav-pills nav-justified navbar-dark ">
  <h1 class="text-white">{{username}}</h1>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button routerLink="login" type="button">logout</button>

	<li class="nav-item ">
      <a class="nav-link text-white" style="font-size:25px; color: black;" routerLink="home">Home</a>
    </li>



    <li class="nav-item">
      <a class="nav-link text-white" style="font-size:25px; color: black;" routerLink="creagruppo">Crea Gruppo</a>
    </li>


	<li class="nav-item ">
      <a class="nav-link text-white" style="font-size:25px; color: black;" routerLink="#">I miei gruppi</a>
    </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <li class="nav-item active ">

    <div class="searchBox">

              <input class="searchInput"type="text" name="" placeholder="Search">
              <button class="searchButton" href="#">
                  <i class="material-icons">
                      search
                  </i>
              </button>
          </div>
    </li>

</nav>



<router-outlet></router-outlet>

