<!--<div class="image" style="background-image: url(https://i2.wp.com/background4free.com/download/red_violet_pink_827826824.jpg);">-->
<div class="all">
<br>
<div class="container-fluid">
  <div class ="title">Peaky Blinders&nbsp;&nbsp;<button class = "btn" routerLink="/chat" type="button">Join</button></div><p>partecipanti 0/8</p>

  <p rows="3" cols="100">La storia ha inizio nel 1919 nella Birmingham del primo dopoguerra. La vicenda è ambientata nel quartiere di Small Heath e si focalizza sulla famiglia Shelby, il cui secondogenito Thomas è  il boss della gang detta "Peaky Blinders</p>

</div>
<br>
<div class="container-fluid">
  <div class ="title">La casa di carta&nbsp;&nbsp;<button class="btn" routerLink="/chat" type="button">Join</button></div><p>partecipanti 0/8</p>

  <p>La storia narra gli sviluppi di una rapina estremamente ambiziosa e originale: irrompere nella Fábrica Nacional de Moneda y Timbre, a Madrid, e stampare migliaia di milioni di banconote e scappare con il bottino.</p>
</div>
<br>
<div class="container-fluid">
 <div class ="title">breaking bad&nbsp;&nbsp;  <button class="btn" routerLink="/chat">join</button></div><p>partecipanti 0/8</p>

  <p>Walter White è un professore di chimica, il giorno dopo il suo compleanno gli viene diagnosticato un cancro ai polmoni e in seguito al casuale incontro con Jesse Pinkman, un suo ex studente diventato uno spacciatore, Walter decide di cominciare a cucinare insieme a lui cristalli di metanfetamina.</p>
</div>
<br>
<div class="container-fluid">
  <div class ="title">Lucifer&nbsp;&nbsp; <button class="btn" routerLink="/chat" type="button">Join</button></div><p>partecipanti 0/8</p>

  <p>Nel 2011 Lucifer, annoiato del suo ruolo di signore degli Inferi e rancoroso nei confronti di Dio per averlo condannato a governare l'inferno, abbandona il suo regno insieme al demone Mazikeen e si trasferisce a Los Angeles dove apre un night club di nome "Lux"</p>
</div>

{{grouplist|json}}


<br><br><br><br><br>
</div>

