<!--<div class="image" style="background-image: url(https://www.wallpapertip.com/wmimgs/5-51173_black-and-red-background-hd.jpg);">-->
  <div class="all">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="nav nav-pills nav-justified navbar-dark ">
  <h1 class="text-white">scars</h1>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button routerLink="/login" type="button">logout</button>

	<li class="nav-item ">
      <a class="nav-link text-white" style="font-size:25px; color: black;" routerLink="/home">Home</a>
    </li>



    <li class="nav-item">
      <a class="nav-link text-white" style="font-size:25px; color: black;" routerLink="/creagruppo">Crea Gruppo</a>
    </li>


	<li class="nav-item ">
      <a class="nav-link text-white" style="font-size:25px; color: black;" routerLink="/mieigruppi">I miei gruppi</a>
    </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <li class="nav-item active ">

    <div class="searchBox">

              <input class="searchInput"type="text" name="" placeholder="Search">
              <button class="searchButton" href="#">
                  <i class="material-icons">
                      search
                  </i>
              </button>
          </div>
    </li>

</nav>
